
#courses_1{
    text-align: center;
}
table{
    border-collapse:separate; 
    border-spacing:2px;
}
td{
    vertical-align: super;

}
#firstpara{
    text-align: justify;
}
.section{
    margin-left: 5%;
    margin-right: 5%;
}
.section button{
    text-align: left !important;
}
.section h3{
    margin-top: 50px;
    margin-bottom: 10px;
    
}